html {
	background-color: #999999;
}

body {
	margin: 0px 0px 0px 0px;
	font-family: "Bookman Old Style", "Garamond", "Palatino";
}

div.container {
	width: 700px;
	background-color: #ffffff;
	margin: 0px auto 0px auto;
	box-shadow: 0 0 20px #210261;
	text-align: center;
	padding: 30px 100px 52px 100px;
}

h1 {
	color: #55035c;
	font-weight: normal;
}

h2 {
	font-size: 19px;
	color: #55035c;
}

div.services {
	text-align: left;
	width: 450px;
	margin: auto;
}

p.who {
	font-style: italic;
}
